.wrapWeat {
    display: flex;
    flex-direction: column;
}
// .day one {
//     display: flex;
// } 
.day {
    display: flex;

} 
li {
    list-style-type: none;
} 
img {
    width: 60px;
    height: 60px;
}
.parametr {
    margin-top: 96px;
}